<div id="supermarquee" content="{{ section.settings.heading }}"></div>

{% javascript %}
    let div = document.getElementById("supermarquee");
    new SuperMarquee(div, {
      "content" : div.getAttribute('content'),
    });
{% endjavascript %}

<style>
  #supermarquee {
    color: white;
    background-color: black;
    font-size: 28px;
    font-family: "Kanit-Semibold";
  }
</style>

{% schema %}
{
  "name": "Scroller",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Say something!",
      "label": "t:sections.scroller.settings.heading.label"
    }
  ],
  "presets": [
    {
      "name": "Scroller"
    }
  ]
}
{% endschema %}