<div class="page-width section-{{ section.id }}-padding">
  <div class="clubScroll">
    <span>
    {%- if section.settings.heading != blank -%}
      <a>
        "{{ section.settings.heading }}"
      </a>
    {%- endif -%}
    {%- if section.settings.heading != blank -%}
      <a>
        "{{ section.settings.heading }}"
      </a>
    {%- endif -%}
    </span>
  </div>

  <div class="bg-marquee">
    {%- if section.settings.heading != blank -%}
      <a>
        "{{ section.settings.heading }}"
      </a>
    {%- endif -%}
  </div>
</div>

  <style>
    .bg-marquee {
        background-color: blue;
        height: 50px;
        width: 100%;
        background-image: url(https://sligoil.com/wp-content/uploads/2022/02/icons-long-01.svg);
        background-repeat: repeat-x;
        background-size: 1000px auto;
        animation: marquee 5s infinite linear;
    }
    
    @keyframes marquee {
        0% { background-position: 0; }
        100% { background-position: -1000px; }
    }
    
    .clubScroll {
      height: 50px;	
      overflow: hidden;
      position: relative;
      background-color: black;
      vertical-align: middle;
    }
    .clubScroll span {
      text-transform: uppercase;
      font-size: 2em;
      position: absolute;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      background-color: black;
      color: white;
      --color-foreground: white;
      margin: 0;
      line-height: 50px;
      text-align: center;
      -moz-transform:translateX(100%);
      -webkit-transform:translateX(100%);	
      transform:translateX(100%);
      -moz-animation: example1 10s linear infinite;
      -webkit-animation: example1 10s linear infinite;
      animation: example1 10s linear infinite;
      font-family: "Kanit-Regular";
    }
    .clubScroll span a {
      margin-right:50px; 
    }
    .clubScroll span h2 {
      font-family: "Kanit-Regular";
    }
    
    @-moz-keyframes example1 {
      0%   { -moz-transform: translateX(100%); }
      100% { -moz-transform: translateX(-100%); }
    }
    @-webkit-keyframes example1 {
      0%   { -webkit-transform: translateX(100%); }
      100% { -webkit-transform: translateX(-100%); }
    }
    
    @keyframes example1 {
      0% { 
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%); 		
      }
      100% { 
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%); 
      }
    }
  </style>

{% schema %}
{
  "name": "Scroller",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Say something!",
      "label": "t:sections.scroller.settings.heading.label"
    }
  ],
  "presets": [
    {
      "name": "Scroller"
    }
  ]
}
{% endschema %}