{% comment %}
<div class="page-width section-{{ section.id }}-padding">
  <div class="clubScroll">
    <span>
    {%- if section.settings.heading != blank -%}
      <a>
        {{ section.settings.heading }}
      </a>
    {%- endif -%}
    {%- if section.settings.heading != blank -%}
      <a>
        {{ section.settings.heading }}
      </a>
    {%- endif -%}
    </span>
  </div>
</div>
{% endcomment %}

<div id="supermarquee"></div>

{% javascript %}
    //$(document).ready(function(){
      new SuperMarquee( document.getElementById( "supermarquee" ), {
        "content" : " {{ section.settings.heading }}"
      });
    //});
{% endjavascript %}

<style>
  #supermarquee {
   color: white;
   background-color: black;
   font-size: 48px;
  }
</style>

{% schema %}
{
  "name": "Scroller",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Say something!",
      "label": "t:sections.scroller.settings.heading.label"
    }
  ],
  "presets": [
    {
      "name": "Scroller"
    }
  ]
}
{% endschema %}